
<article class="new-post">
  <h1>User Login</h1>
 
  {{!-- <form action="/users/userlogin" method="POST" class="new-post-form">
    <label>
      Username:
      <input type="text" name="username" placeholder="" value="{{userinfo.username}}" class="full-width-input"/>
    </label>
      Password:
      <input type="password" name="password" placeholder="" value="{{userinfo.password}}" class="full-width-input"/>
    </label>

 
    <button type="submit">Login</button>
    <button type="reset">Clear Form</button>
    
  </form> --}}
  <div class="login-form">
  <form action="/users/userlogin" method="POST">
  <div class="form-group">
    
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control"  name="username" id="exampleInputEmail1" placeholder="" value="{{userinfo.username}}">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" placeholder="" value="{{userinfo.password}}" class="form-control" id="exampleInputPassword1">
  </div>
  
  <button type="submit" class="btn btn-primary">Log in</button>
</form>
  {{#if hasErrors}}
  <ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
</div>
</article>